/.editorconfig export-ignore
/.gitattributes export-ignore
/.github/ export-ignore
/.ddev/ eport-ignore
/.gitignore export-ignore
/Build/ export-ignore
/Tests/ export-ignore
*.sh linguist-detectable=false
