<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en"
      f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="headline">
    <h1><f:translate key="module_name" /></h1>
</f:section>

<f:section name="content">
    <f:be.pagePath />
    <f:flashMessages />
    <f:be.infobox title="{f:translate(key:'importinfo')}" state="-1">
        <f:translate key="importinfo_format" />
        <ul>
            <li>Excel 2007 (.xlsx)</li>
            <li>Excel5 (.xls)</li>
            <li>Excel2003XML (.xml)</li>
            <li>OpenDocument Calc (.ods)</li>
            <li>Gnumeric (.gnumeric)</li>
            <li>CSV (.csv/.txt)</li>
        </ul>
    </f:be.infobox>
    <f:form pageUid="{page}" action="upload" enctype="multipart/form-data">
        <div class="typo3-TCEforms">
            <fieldset class="form-section">
                <div class="row">
                    <div class="form-group col col-sm-6">
                        <label class="t3js-formengine-label" for="table">
                            <f:translate key="tableselect" />
                        </label>
                        <f:form.select
                            class="form-select"
                            name="table"
                            id="table"
                            options="{allowedTables}"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col col-sm-12">
                        <label class="t3js-formengine-label" for="fileUpload">
                            <f:translate key="fileselect" />
                        </label>
                        <f:form.upload
                            class="btn btn-default"
                            name="file"
                            id="fileUpload"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col col-sm-12">
                        <f:form.checkbox name="encoding" id="encoding" value="1" />
                        <label class="t3js-formengine-label" for="encoding"><f:translate key="encoding" /></label><br>
                        <f:form.checkbox name="deleteRecords" id="deleteRecords" value="1" />
                        <label class="t3js-formengine-label" for="deleteRecords"><f:translate key="deleteRecord" /></label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col col-sm-12">
                        <f:form.button type="submit" class="btn btn-default">{f:translate(key:'upload')}</f:form.button>
                    </div>
                </div>
            </fieldset>
        </div>
    </f:form>
</f:section>
</html>
