<html
        xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
        xmlns:xls="http://typo3.org/ns/SUDHAUS7/Xlsimport/ViewHelpers"
        xmlns="http://www.w3.org/1999/xhtml"
        lang="en"
        f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
        data-namespace-typo3-fluid="true"
>
<f:if condition="{field.config.type} == 'select'">
    <label for="{fieldName}">{field.label}</label>
    <xls:backend.tcaNode name="{fieldName}" table="{table}" page="{page}" config="{field.config}"/>
</f:if>
</html>