<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en"
      f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
      data-namespace-typo3-fluid="true">


<f:be.pageRenderer
        pageTitle="S7 XLS Importer"
        includeJsFiles="{
            0: '{f:uri.resource(path: \'JavaScript/jsfunc.tbe_editor.js\', extensionName: \'backend\')}'
        }"
        addInlineSettings="{addInlineSettings}"
/>
<f:render section="Buttons" optional="true"/>
<f:render section="headline" optional="true"/>
<f:render section="content"/>

</html>